.box {
  width: 150px;
  height: 150px;
  background-color: skyblue;
  }
  
  .btn {
  background-color: tomato;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  }
  .btn:hover {
  background-color: darkred;
  cursor: pointer;
  }
  .outer {
    background: lightgray;
    margin: 20px; /* 바깥 여백 */
    padding: 20px; /* 안쪽 여백 */
    }
    .inner {
    background: teal;
    color: white;
    }